@model IEnumerable<BasketballAcademy.Models.Coach>

@{
    ViewBag.Title = "ViewCoach";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
}
<script src="~/Scripts/PreventBack.js"></script>

<h2 class="text-center">Coach List</h2>

<p>
    <a href="@Url.Action("AddCoach")" class="btn btn-outline-primary">Add Coach</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="text-center">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Date of birth</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Experience</th>
                <th>Photo</th>
                <th>ID proof</th>
                <th>Certificate</th>
                <th><b>Action</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.username)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                    <td>@Html.DisplayFor(modelItem => item.Age)</td>
                    <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Experience)</td>
                    <td>
                        @if (item.photo != null)
                        {
                            <a href="data:image;base64,@Convert.ToBase64String(item.photo)" target="_blank">
                                <img src="data:image;base64,@Convert.ToBase64String(item.photo)" alt="Picture" height="50px" width="50px" />
                            </a>
                        }
                        else
                        {
                            <span>No image available</span>
                        }
                    </td>
                    <td>
                        @if (item.idproof != null)
                        {
                            <a href="data:application/pdf;base64,@Convert.ToBase64String(item.idproof)" target="_blank">
                                <button type="button" class="btn btn-sm btn-outline-primary ">View Certificate</button>
                            </a>
                        }
                        else
                        {
                            <span>No Certificate available</span>
                        }
                    </td>
                    <td>
                        @if (item.CertificateProof != null)
                        {
                            <a href="data:application/pdf;base64,@Convert.ToBase64String(item.CertificateProof)" target="_blank">
                                <button type="button" class="btn btn-sm btn-outline-primary">View Certificate</button>
                            </a>
                        }
                        else
                        {
                            <span>No Certificate available</span>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", new { Id = item.Id })" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
