@model BasketballAcademy.Models.Admission

@{
    ViewBag.Title = "EnrollPlayer";
    Layout = "~/Views/Shared/UserLayoutPage.cshtml";

}
<script src="~/Scripts/Validation.js"></script>
<link href="~/Content/ErrorStyle.css" rel="stylesheet" />
<link href="~/Content/EnrollPlayer.css" rel="stylesheet" />
<script src="~/Scripts/PreventBack.js"></script>
<h2 class="text-center my-3">Enrollment form</h2>

@using (Html.BeginForm("EnrollPlayer", "Admission", FormMethod.Post, new { @onsubmit = "return validateEnroll();" }))
{
    @Html.AntiForgeryToken()
  
<div class="form-horizontal row mx-4" id="EnrollForm">

    <div class="col-md-4 ">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label for="FullName" class="control-label ">Name</label>
            <div class="col-md-10">
                <input type="text" id="name" name="FullName" class="form-control" onfocusout="validatename()">
                <span id="nameError"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="DateOfBirth" class="control-label ">Date of birth</label>
            <div class="col-md-10">
                <input type="date" id="date" name="DateOfBirth" class="form-control" onfocusout="validatedate()" onchange="CalcluateAge()">
                <span id="DateError"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="Age" class="control-label ">Age</label>
            <div class="col-md-10">
                <input type="text" id="Age" name="Age" class="form-control" readonly>

            </div>
        </div>

        <div class="form-group my-3">
            <label for="Gender" class="control-label">Gender</label>
            <label class="radio-inline">
                <input type="radio" name="Gender" value="Male" id="genderMale" onfocusout="validategender()"> Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="Gender" value="Female" id="genderFemale" onfocusout="validategender()"> Female
            </label>
            <label class="radio-inline">
                <input type="radio" name="Gender" value="Other" id="genderOther" onfocusout="validategender()"> Other
            </label><br />
            <span id="genderError"></span>
        </div>

        <div class="form-group">
            <label for="PhoneNumber" class="control-label ">Phone number</label>
            <div class="col-md-10">
                <input type="tel" id="phone" name="PhoneNumber" class="form-control" onfocusout="validatePhone()">
                <span id="phoneError"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="Email" class="control-label">Email</label>
            <div class="col-md-10">
                <input type="email" id="email" name="Email" class="form-control" onfocusout="validateEmail()">
                <span id="emailError"></span>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="ChooseMonths" class="control-label ">Choose months</label>
            <div class="col-md-10">
                <select id="month" name="ChooseMonths" class="form-control" onfocusout="validateselect()">
                    <option value="0">---Select---</option>
                    <option value="3 month- ₹3000">3 month- ₹3000</option>
                    <option value="6 month- ₹6000">6 month- ₹6000</option>
                    <option value="9 month- ₹9000">9 month- ₹9000</option>
                </select>
                <span id="monthError"></span>
            </div>
        </div>

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.Coach, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Coach, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Coach, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.CoachID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CoachID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", } })
                @Html.ValidationMessageFor(model => model.CoachID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="ParentGuardianName" class="control-label">Parent/Guardian Name</label>
            <div class="col-md-10">
                <input type="text" id="pgname" name="ParentGuardianName" class="form-control" onfocusout="validatepgname()">
                <span id="pgnameError"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="ParentGuardianPhone" class="control-label ">Parent/Guardian Phone</label>
            <div class="col-md-10">
                <input type="tel" id="pgphone" name="ParentGuardianPhone" class="form-control" onfocusout="validatepgPhone()">
                <span id="pgphoneError"></span>
            </div>
        </div>

        <div class="form-group my-3">
            <label class="control-label ">Payment</label>
            <div class="col-md-10">
                <label class="radio-inline">
                    <input type="radio" id="paymentcard" name="payment" value="Credit card/Debit card" onfocusout="validatepayment()"> Credit card/Debit card
                </label>
                <label class="radio-inline">
                    <input type="radio" id="paymentupi" name="payment" value="UPI"> UPI
                </label>
                <label class="radio-inline">
                    <input type="radio" id="paymentpaypal" name="payment" value="Paypal"> Paypal
                </label><br>
                <span id="paymentError"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="photo" class="control-label ">Photo</label>
            <div class="col-md-10">
                <input type="hidden" id="Hidden" name="photo">
                <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png">
            </div>
        </div>


    </div>
    <div class="form-group">
        <div class="text-center">
            <input type="submit" value="Enroll" class="btn btn-success" />
        </div>
    </div>
    <p class="text-center text-success">@ViewBag.success</p>
    <p class="text-center text-danger">@ViewBag.Enrolled</p>
    <p class="text-center text-danger">@ViewBag.NotAvailable</p>
</div>
}
<script>
    document.getElementById("file").addEventListener("change", function (event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            var base64String = e.target.result.split(",")[1];
            document.getElementById("Hidden").value = base64String;
        };
        reader.readAsDataURL(file);
    });

    function CalcluateAge() {
        var userinput = document.getElementById("date").value;

        var dob = new Date(userinput);
        var today = new Date();
        var result_age = today.getFullYear() - dob.getFullYear();
        var display = document.getElementById('Age');
        display.value = result_age;
        return true;
    }

    const today = new Date().toISOString().split('T')[0];
    document.getElementById('date').setAttribute('max', today);

</script>
