@model IEnumerable<BasketballAcademy.Models.Admission>

@{
    ViewBag.Title = "ViewEnrolledPlayer";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
}
<script src="~/Scripts/PreventBack.js"></script>
<h2 class="text-center">Enrolled Players</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="text-bg-dark text-center">
            <tr>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Months</th>
                <th>Coach</th>
                <th>Parent/Guardian name</th>
                <th>Parent/Guardian number</th>
              
                <th><b>Action</b></th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                    <td>@Html.DisplayFor(modelItem => item.Age)</td>
                    <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.ChooseMonths)</td>
                    <td>@Html.DisplayFor(modelItem => item.Coach)</td>
                    <td>@Html.DisplayFor(modelItem => item.ParentGuardianName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ParentGuardianPhone)</td>
                    <td>
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
