@model IEnumerable<BasketballAcademy.Models.Events>

@{
    ViewBag.Title = "ViewMyEvent";
    Layout = "~/Views/Shared/UserLayoutPage.cshtml";
}

<script src="~/Scripts/PreventBack.js"></script>
<style>
    #session {
        color: purple;
    }
</style>
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="text-center display-6 my-3" id="session">
    Registered Events
</div>

@if (Model != null && Model.Any())
{
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.EventImage)" class="card-img-top" alt="Event Image">
                        <div class="card-body">
                            <h5 class="card-title">@item.EventName</h5>
                            <p class="card-text">@item.Details</p>
                            <p class="card-text"><strong>Date:</strong> @item.EventDate.ToShortDateString()</p>
                            <p class="card-text"><strong>Time:</strong> @item.EventTime.ToString(@"hh\:mm")</p>
                            <p class="card-text"><strong>Venue:</strong> @item.Venue</p>
                            <p class="card-text"><strong>Incharge:</strong> @item.Incharge</p>
                            <p class="card-text"><strong>Age Group:</strong> @item.AgeGroup</p>
                            <p class="card-text"><strong>Prize Details:</strong> @item.PrizeDetails</p>
                            <p class="card-text"><strong>Contact:</strong> @item.Contact</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <h3 class="text-danger text-center m-3">@ViewBag.Message</h3>
}
